<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Neptú
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Neptú</h1>
		
		<p>
		Neptú és el vuitè planeta en distància respecte al Sol i el més llunyà del sistema solar.
		S'anomena en honor al déu romà del mar,
		i és el quart planeta en diàmetre i el tercer més gran per massa. 
		La seva massa és 17 vegades la de la Terra i lleugerament més massiu que el seu planeta "bessó" Urà,
		que té 15 masses terrestres i no és tan dens.[11] De mitjana, Neptú gira al voltant del Sol a una distància de 30,1 UA.
		El seu símbol astronòmic és Símbol astronòmic de Neptú., una versió estilitzada del trident del déu Neptú.
                Va ser descobert el 23 de setembre de 1846,[1] i esdevingué així el primer planeta a ser
                descobert mitjançant prediccions matemàtiques en lloc d'observació empírica. 
                A causa de canvis inexplicats en l'òrbita d'Urà,
                Alexis Bouvard va deduir que la seva òrbita era pertorbada gravitacionalment per un planeta desconegut.
                Posteriorment, Johann Galle el va observar a menys d'un grau de la posició que Urbain Le Verrier havia predit.
                El seu satèl·lit més gran, Tritó va ser descobert seguidament, 
                tot i que no es van descobrir la resta de 12 llunes fins al segle XX, emprant telescopis. 
                Només una sonda ha visitat Neptú (Voyager 2), que va sobrevolar el planeta el 25 d'agost de 1989.
                Neptú té una composició similar a la d'Urà, i tots dos tenen composicions diferents de les dels gegants gasosos 
                Júpiter i Saturn. Tot i que l'atmosfera de Neptú està composta principalment d'hidrogen i heli com Júpiter i Saturn, 
                conté una proporció superior de "gels" com l'aigua, l'amoníac i el metà. De vegades els astrònoms categoritzen
                Urà i Neptú com a "gegants gelats", per emfatitzar aquestes diferències.[12] 
                L'interior de Neptú, com el d'Urà, està compost principalment de gels i roca.[13]
                Les traces de metà a les regions més exteriors de l'atmosfera provoquen l'aparença blava.[14]
                Contràriament a l'atmosfera amb pocs detalls d'Urà, la de Neptú és notable pels fenòmens meteorològics actius 
                i visibles. Durant el sobrevol de la sonda Voyager 2, el 1989, Neptú presentava una Gran Taca Fosca 
                comparable a la Gran Taca Vermella de Júpiter. Els vents de Neptú són els més forts sostinguts de tots 
                els planetes del sistema solar, amb velocitats registrades de fins a 2.100 km/h.[15]
                A causa de la seva distància amb el Sol, l'atmosfera exterior de Neptú és un dels
                llocs més freds del sistema solar, amb temperatures als núvols exteriors de -218 °C (55 K).
                Al centre del planeta, les temperatures són d'uns 5000 °C.[16][17] 
                Neptú també té un sistema tènue i fragmentat d'anells planetaris, que,
                tot i que és possible que es detectés als anys 60, va ser descobert del tot el 1989 per la Voyager 2.[18]
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('inici')">TORNAR A L´INICI</button>
	
	</div>	
	
</jsv-content>
