<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Urà
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Urà</h1>
		
		<p>
		Urà és el setè planeta des del Sol, el tercer més gran i el quart amb major massa del Sistema Solar. 
		S'anomena en honor de la divinitat grega del cel Urà (grec antic Οὐρανός) el pare de Cronos (Saturn)
		i l'avi de Zeus (Júpiter). Encara que és visible a ull nu com els altres cinc planetes clàssics,
		mai no va ser reconegut com a planeta pels observadors antics a causa de la lentitud de la seva òrbita.
		[12] Sir William Herschel va anunciar el seu descobriment el 13 de març de 1781,
		expandint els límits coneguts del Sistema Solar per primera vegada en la història moderna.
		També va ser el primer descobriment d'un planeta utilitzant un telescopi.
                Urà és similar en composició a Neptú, i els dos tenen una composició diferent dels altres dos gegants gasosos 
                (Júpiter i Saturn). Per això, els astrònoms de vegades els classifiquen en una categoria diferent, 
                els gegants gelats. L'atmosfera d'Urà, tot i que és similar a la de Júpiter
                i Saturn pel fet d'estar composta principalment d'hidrogen i heli, conté una proporció superior de gels, 
                com ara aigua, amoníac i metà, juntament amb traces d'hidrocarburs.[8] 
                Té l'atmosfera planetària més freda del Sistema Solar, amb una temperatura mínima de 49 K 
                (−224 °C). Té una estructura de núvols complexa, per nivells, on es creu que els núvols més baixos són d'aigua, 
                i els més alts de metà.[8] En contrast, l'interior d'Urà està compost principalment per gels i roca.[7]
                Com els altres planetes gegants, Urà té un sistema d'anells, una magnetosfera, i satèl·lits nombrosos.
                El sistema d'Urà té una configuració única respecte als altres planetes 
                perquè el seu eix de rotació està molt tombat, gairebé fins al seu pla de revolució al voltant del Sol. 
                Per tant, els seus pols nord i sud es troben on la majoria dels altres planetes tenen l'equador.
                [13] Vistos des de la Terra, els anells d'Urà poden semblar que volten el planeta com una diana, 
                i que els satèl·lits roden al seu voltant com les agulles d'un rellotge, encara que el 2007 i el 2008, 
                els anells apareixien de costat. El 1986, les imatges del Voyager 2 van mostrar Urà com un planeta sense 
                gairebé cap característica especial en la banda de llum visible, sense les bandes de núvols 
                o tempestes associades amb els altres gegants.[13] Tanmateix, els observadors terrestres han 
                vist senyals de canvis d'estació i un augment de l'activitat meteorològica en els últims anys 
                a mesura que Urà s'acosta al seu equinocci.
                Les velocitats del vent a Urà poden arribar als 250 metres per segon (900 km/h).[14]
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('neptu')">Neptú</button>
	
	</div>	
	
</jsv-content>
